<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.homework.notes">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name="com.homework.notes.presentation.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.homework.notes.presentation.main.tabpage.notespage.NewNotes"
            android:label="@string/title_activity_new_notes"
            android:parentActivityName="com.homework.notes.presentation.main.MainActivity"

            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Notes" />
        </activity>
        <activity
            android:name="com.homework.notes.presentation.main.tabpage.notespage.AnswerCard"
            android:label="@string/title_activity_answer_card"
            android:parentActivityName="com.homework.notes.presentation.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Notes" />
        </activity>
        <activity
            android:name="com.homework.notes.presentation.main.tabpage.notespage.NotesFragment"
            android:label="NotesFragment"
            android:parentActivityName="com.homework.notes.presentation.main.MainActivity"
            >

        </activity>

        <service
            android:name="com.homework.notes.toolkit.SpacedService"
            android:enabled="true"
            android:icon="@drawable/ic_launcher"
            >
        </service>

    </application>

</manifest>
